# feature engineering

In [ ]:
import pandas as pd
data_all_docs=pd.read_csv('train_set.csv')
data=data_all_docs[data_all_docs['class']<3]
# data.iloc[:,3].shape
data2000=data[:2000]
data2000.to_csv('data2000.csv')
data2000.head()

In [17]:
import pandas as pd
data2000=pd.read_csv('data2000.csv')
data1000=data2000[:1000]
data1000.head()

,Unnamed: 0,id,article,word_seg,class
0,6,6,893673 7368 836872 674898 231468 856005 105964...,277781 816903 1098157 986174 1033823 780491 10...,1
1,22,22,7368 611112 599682 626254 569999 601396 7368 7...,816903 340401 966562 102711 599826 1267351 816...,1
2,23,23,330242 788037 40494 1080029 79747 7368 1015617...,713291 135124 1226448 816903 69892 520477 3696...,2
3,25,25,1220011 206763 837240 678940 641588 206763 314...,585102 54111 1080587 732777 788023 1033823 120...,1
4,40,40,881890 581131 1030656 626254 826453 581131 611...,386754 166959 1234861 166959 866203 816903 816...,2

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus=data1000['word_seg']
vectorizer = TfidfVectorizer()
weights= vectorizer.fit_transform(corpus).toarray()
# words=vectorizer.get_feature_names()
wordsweight=pd.DataFrame(weights)

In [19]:
from sklearn.cluster import KMeans
k_means = KMeans(n_clusters=2, random_state=0)

In [20]:
k_means.fit(wordsweight)
asa=k_means.predict(weights)

In [5]:
wordsweight.shape

(2000, 94513)

In [8]:
ae_kmeans=pd.read_csv('ae+kmeans.txt',header=None)

In [9]:
ae_kmeans.head()

   0  1
0  0  0
1  1  0
2  2  1
3  3  0
4  4  1

In [60]:
k=0
for i in range(0,1000):
    if ae_kmeans.iloc[i,1]==0:
        if data2000.iloc[i,4]==1:
            k+=1
print(k)

448

# 66.9 67.6 65.5

In [22]:
kmean=pd.Series(asa)
kmean.to_csv('kmeans.txt')

In [38]:
359/680

0.5279411764705882

In [48]:
k=0
for i in range(0,1000):
    if kmean.iloc[i]==1:
        if data1000.iloc[i,4]==1:
            k+=1
    if kmean.iloc[i]==0:
        if data1000.iloc[i,4]==2:
            k+=1
print(k)

741

## 74.1 82.8 56.9

In [63]:
549/663

0.8280542986425339

In [64]:
import matplotlib as plt
y1=[66.9,67.6,65.5]
y2=[74.1,82.8,56.9]

In [65]:
x=[1,2,3]
from matplotlib import pyplot

In [79]:
%matplotlib
labels=['total','FirstClustering','SecondClustering']
pyplot.plot(x,y1,color='red', label='ae+kmeans')
pyplot.plot(x,y2,color='gray', label='kmeans')
pyplot.xticks(x,labels)
pyplot.legend()
pyplot.show()

Using matplotlib backend: Qt5Agg

AttributeError: module 'matplotlib.pyplot' has no attribute 'labels'